#page-about {
  display: flex;
  width: 90%;
  padding-inline: 30px;
  padding-block: 20px;
  flex-direction: column;
}
#page-about span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}