#page-about {
  display: flex;
  width: 90%;
  padding-inline: 30px;
  padding-block: 20px;
  flex-direction: column;
}
#page-about span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
#page-about span svg.icon-externalLink {
  display: inline-block;
  width: 14px;
  aspect-ratio: 1/1;
}
#page-about span svg.icon-externalLink path {
  fill: white;
}