#page-animes {
  display: block;
  margin-top: 80px;
  margin-bottom: 30px;
  min-height: 50px;
  padding-inline: 40px;
}
#page-animes #results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}