.anime-card {
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 185px;
    max-height: 315px;

    h4 {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    a {
        img {
            width: 100%;
            height: 98%;
        }
    }
}