header {
    margin-top: 8px;
    margin-bottom: 10px;
    padding-inline: 14px;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            h2 {
                display: flex;
                margin: 0px;
            }
        }

        p {
            span {
                font-size: smaller;
            }
        }
    }
}