header {
  margin-top: 8px;
  margin-bottom: 10px;
  padding-inline: 14px;
}
header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div a h2 {
  display: flex;
  margin: 0px;
}
header div p span {
  font-size: smaller;
}