#search-bar {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}
#search-bar input {
  height: inherit;
  width: 100%;
  padding: 8px;
  font-size: medium;
}
#search-bar input::-moz-placeholder {
  text-align: center;
}
#search-bar input::placeholder {
  text-align: center;
}
#search-bar button {
  background-color: rgba(192, 27, 192, 0.662);
  border: none;
  border-radius: 5px;
  width: 16%;
  height: 38px;
  transition: none;
}
#search-bar button:hover {
  background-color: rgba(226, 47, 226, 0.662);
}