#search-bar {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}
#search-bar input {
  height: inherit;
  width: 100%;
  padding: 8px;
  font-size: medium;
  border-radius: 8px;
  background-color: rgb(49, 48, 48);
}
#search-bar input::-moz-placeholder {
  text-align: center;
}
#search-bar input::placeholder {
  text-align: center;
}