.user-button {
    position: relative;
    display: inline-block;
    
    summary {
        width: 40px;
        height: 40px;
    }
    summary::marker {
        content: none;
    }

    ul {
        display: flex;
        margin-top: 14px;
        flex-direction: column;
        gap: 8px;
        right: -3px;
        z-index: 2;
        padding: 10px;
        position: fixed;
        list-style: none;
        border-radius: 5px;
        border-left: solid rgba(114, 110, 110, 0.42);
        background-color: rgb(63, 62, 62);

        // animation: fade-in-slide-left;
        // animation-duration: 3s;
        // animation-timing-function: ease-out;

        li {
            display: block;
            min-width: 230px;
            // text-align: center;
            padding-inline: 6px;
            // background-color: rgba(77, 75, 75, 0.728);
            // border: solid 2px rgba(90, 88, 88, 0.892);
            border-radius: 5px;
        }
        li:hover {
            background-color: rgb(108, 105, 105);
            transform: scale(1.06);
            box-shadow: rgb(110, 109, 109) 0px 0px 10px;
        }

        hr {
            border-top: 1px solid rgb(62, 61, 61);
        }
    }
}

@keyframes fade-in-slide-left {
    from {
        left: 40px;
        opacity: 0;
    } to {
        right: 26px;
        opacity: 1;
    }
}