.span-anchor {
    color: rgb(141, 230, 230);
    text-decoration: underline;
    cursor: pointer;
    transition: none;
}
.span-anchor:hover {
    color: rgb(49, 170, 170);
    text-decoration: underline;
}